Pembuatan Agen AI Chatbot Web dengan Data di Supabase Vector Store dari File Google Docs.json
{
  "name": "Pembuatan Agen AI Chatbot Web dengan Data di Supabase Vector Store dari File Google Docs",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1A498vK3clzI4L1OoFObjMOavSGo6PQxk",
          "mode": "list",
          "cachedResultName": "Panduan Penulisan Ilmiah Tugas Akhir Skripsi.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1A498vK3clzI4L1OoFObjMOavSGo6PQxk/view?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "25d991bd-37e5-4cf3-bcd6-1c44a8d2c1df",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "crRjruA6OSW0bK2s",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa23045c-0b4c-4e2a-bfca-43d5ee4cff91",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "7c7a0454-85e7-495a-999e-fa8841d5053d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "=text/html"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "9685dbee-02f5-42cf-b58b-e5d4cda4ae63",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "crRjruA6OSW0bK2s",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "e32b2f95-b2bd-46c3-be32-a7db35c4653e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "c43150df-506d-4d01-b3c6-665d7041c682",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "DX95hfItsqSfoZJq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        144
      ],
      "id": "5e2948b6-c3aa-4087-affb-6cf9995834bc",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "tL59UZwgXkcJjlhE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        992,
        144
      ],
      "id": "eccbd905-f079-45a3-97d2-89932d4126d3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1024,
        256
      ],
      "id": "23f66e29-28c3-425b-bfb4-2b0a925f4764",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -16,
        336
      ],
      "id": "95d7affc-fb52-49a9-b748-a79977380fbb",
      "name": "When chat message received",
      "webhookId": "e7486f70-d0de-4c11-baa5-0a823f389c1c"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Anda adalah \"Asisten Ahli Penulisan Ilmiah\" yang cerdas dan profesional. Tugas utama Anda adalah membantu pengguna memahami isi dokumen panduan skripsi/tugas akhir yang telah disediakan.\n\nAturan dalam menjawab:\n1. Jawablah pertanyaan pengguna HANYA berdasarkan informasi yang ditemukan di dalam dokumen (Vector Store).\n2. Jika jawaban tidak ditemukan di dalam dokumen, katakan dengan sopan bahwa Anda tidak memiliki informasi tersebut dalam panduan saat ini.\n3. Gunakan gaya bahasa yang formal, edukatif, dan mudah dipahami oleh mahasiswa.\n4. Jika pengguna bertanya tentang format penulisan (seperti margin, font, atau sitasi), berikan jawaban sedetail mungkin sesuai isi dokumen.\n5. Jangan memberikan informasi di luar konteks dokumen penulisan ilmiah ini kecuali diminta untuk menjelaskan istilah teknis yang ada dalam teks.\n\nNama Anda: AI Agent Skripsi NF Academy."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        336
      ],
      "id": "3f92c921-0427-42a9-a5bb-1c9ad0a25ca8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        528
      ],
      "id": "b226b259-8df0-46b1-bdb8-45451f369d85",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tL59UZwgXkcJjlhE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan alat ini untuk mencari informasi dan menjawab pertanyaan mengenai aturan penulisan ilmiah, panduan penyusunan tugas akhir, format skripsi, teknik sitasi, dan persyaratan dokumen akademik lainnya berdasarkan dokumen resmi yang tersedia",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        544,
        448
      ],
      "id": "58df2063-af5d-48a7-a3fc-15ceedf3173b",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "DX95hfItsqSfoZJq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        608
      ],
      "id": "9ce35863-508f-4dad-9274-00c4964f6bac",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "tL59UZwgXkcJjlhE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        272,
        528
      ],
      "id": "a8a0ec62-3dc3-4fb6-85f1-f4a2e6e03df6",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "0PK5YdFeYchC4TFW",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "770c0a36-367c-44b6-ba3e-401eef0544d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef4c1b6463e8579273ec8c5ddc711ec694a363f603e1c02f0d905d2705a13425"
  },
  "id": "iRBaCpjiqKPBek8Z",
  "tags": []
}