Tugas 3 Otomasi Laporan Bulanan.json
{
  "name": "Tugas 3 Otomasi Laporan Bulanan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "24fa890d-a75a-4f60-b978-571b2210fccc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vZnD7nJ2szDelC8y_iVpSnQNWIJyLO1EYPajZQrLTD8",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vZnD7nJ2szDelC8y_iVpSnQNWIJyLO1EYPajZQrLTD8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vZnD7nJ2szDelC8y_iVpSnQNWIJyLO1EYPajZQrLTD8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        -192
      ],
      "id": "60a2937b-aa9f-485a-9f5e-6d58d4271802",
      "name": "Data Sheet 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ixr03omHR9EgEjzf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZVdRhXFqFLUkAhmgEiYSUiYntomvnBj2IrMcZBAgJcg",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZVdRhXFqFLUkAhmgEiYSUiYntomvnBj2IrMcZBAgJcg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840720130,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZVdRhXFqFLUkAhmgEiYSUiYntomvnBj2IrMcZBAgJcg/edit#gid=1840720130"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        0
      ],
      "id": "5550fd25-b1ce-41cf-a5d5-da9df0092a77",
      "name": "Data Sheet 2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ixr03omHR9EgEjzf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "158K27SKtMJhb8dejodpj6RNFIzS4VaHHy1QTkTsRsmA",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/158K27SKtMJhb8dejodpj6RNFIzS4VaHHy1QTkTsRsmA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 257652098,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/158K27SKtMJhb8dejodpj6RNFIzS4VaHHy1QTkTsRsmA/edit#gid=257652098"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        208
      ],
      "id": "b8d8c23b-a9f2-4ea6-a5ad-b343bb314b0c",
      "name": "Data Sheet 3 (Beda Fromat)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ixr03omHR9EgEjzf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        -96
      ],
      "id": "b14e34cd-f0fb-48d7-a228-d24e41dbc3d9",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nitems.forEach(item => {\n  if (item.json && item.json['ID Laporan']) {\n\n    if (item.json['ID Laporan'].startsWith('REP')) {\n      item.json.Sumber = 'Sheet1';\n    } \n    else if (item.json['ID Laporan'].startsWith('LAP')) {\n      item.json.Sumber = 'Sheet2';\n    } \n    else {\n      item.json.Sumber = 'Unknown';\n    }\n\n    // Standardisasi tambahan\n    item.json['Tanggal Final'] = item.json['Tanggal Laporan'] || item.json['Tanggal'] || '';\n    item.json['Total Revenue'] = item.json['Pendapatan (IDR)'] || 0;\n  }\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -96
      ],
      "id": "a3ed36f2-424f-4db1-8a7d-08b433915373",
      "name": "Menambahkan Kolom Sumber"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ID Laporan",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1120,
        -96
      ],
      "id": "fdb35c20-1d54-445e-859b-265e1466e0da",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input\nconst inputData = $input.all();\n\n// Ekstrak semua baris\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Proses tiap baris\nallRows.forEach(row => {\n  if (typeof row === 'object' && row !== null) {\n    if (row['ID Laporan']) row['ID Laporan'] = String(row['ID Laporan']).trim();\n    if (row.Bulan) row.Bulan = String(row.Bulan).trim();\n    if (row['Kategori Produk']) row['Kategori Produk'] = String(row['Kategori Produk']).trim();\n    if (row['Nama Produk']) row['Nama Produk'] = String(row['Nama Produk']).trim();\n\n    row['Jumlah Stok'] = parseFloat(row['Jumlah Stok']) || 0;\n    row['Penjualan Harian'] = parseFloat(row['Penjualan Harian']) || 0;\n    row['Harga Satuan (IDR)'] = parseFloat(row['Harga Satuan (IDR)']) || 0;\n    row['Total Penjualan (IDR)'] = parseFloat(row['Total Penjualan (IDR)']) || 0;\n  }\n});\n\n// WAJIB RETURN\nreturn allRows.map(row => ({\n  json: row\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        208
      ],
      "id": "0bdf14ad-4615-4e92-9f3c-9841645991fe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ID Laporan",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        720,
        208
      ],
      "id": "83396646-f41e-47af-b142-0af24c111e40",
      "name": "Menghapus Duplikat Berdasarkan ID Laporann"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua input (untuk aman di semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Transformasi setiap baris\nconst transformedRows = allRows.map(row => {\n  // Gabung Kategori + Nama Produk untuk kolom \"Produk\"\n  const produk = `${row['Kategori Produk'] || ''} ${row['Nama Produk'] || ''}`.trim();\n\n  // Buat objek baru dengan format Sheet 1 & 2\n  return {\n    'ID Laporan': row['ID Laporan'] ? String(row['ID Laporan']).trim() : '',\n    'Bulan': row.Bulan ? String(row.Bulan).trim() : '',\n    'Produk': produk,\n    'Wilayah': '-', // default, bisa diisi jika ada info wilayah\n    'Penjualan (Unit)': parseFloat(row['Penjualan Harian']) || 0,\n    'Target (Unit)': 0, // default, bisa diisi jika ada target\n    'Pendapatan (IDR)': parseFloat(row['Total Penjualan (IDR)']) || 0,\n    'Status': row['Karyawan Penanggung Jawab'] ? String(row['Karyawan Penanggung Jawab']).trim() : 'Tidak Diketahui',\n    'Keterangan': row['Catatan Status'] ? String(row['Catatan Status']).trim() : '',\n    'Tanggal Laporan': row.Bulan ? `${row.Bulan} 01, ${new Date().getFullYear()}` : ''\n  };\n});\n\n// Kembalikan sebagai array item terpisah\nreturn transformedRows.map(row => ({ json: row }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        208
      ],
      "id": "6009e6b0-0b16-476f-895c-cec784eac7d0",
      "name": "Menyesuaikan Header"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua input (untuk aman di semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Transformasi setiap baris\nconst transformedRows = allRows.map(row => {\n  // Gabung Kategori + Nama Produk untuk kolom \"Produk\"\n  const produk = `${row['Kategori Produk'] || ''} ${row['Nama Produk'] || ''}`.trim();\n\n  // Buat objek baru dengan format Sheet 1 & 2\n  return {\n    'ID Laporan': row['ID Laporan'] ? String(row['ID Laporan']).trim() : '',\n    'Bulan': row.Bulan ? String(row.Bulan).trim() : '',\n    'Produk': produk,\n    'Wilayah': '-', // default, bisa diisi jika ada info wilayah\n    'Penjualan (Unit)': parseFloat(row['Penjualan Harian']) || 0,\n    'Target (Unit)': 0, // default, bisa diisi jika ada target\n    'Pendapatan (IDR)': parseFloat(row['Total Penjualan (IDR)']) || 0,\n    'Status': row['Karyawan Penanggung Jawab'] ? String(row['Karyawan Penanggung Jawab']).trim() : 'Tidak Diketahui',\n    'Keterangan': row['Catatan Status'] ? String(row['Catatan Status']).trim() : '',\n    'Tanggal Laporan': row.Bulan ? `${row.Bulan} 01, ${new Date().getFullYear()}` : ''\n  };\n});\n\n// Kembalikan sebagai array item terpisah\nreturn transformedRows.map(row => ({ json: row }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        208
      ],
      "id": "34005756-918f-4bd4-a674-5cd959ce083e",
      "name": "Menambahkan Kolom Sumber 1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18BHVOm_5OQ0wFmr3DrOdNEpsooAoVZTdcMCWbHP-UFw",
          "mode": "list",
          "cachedResultName": "Dummy Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BHVOm_5OQ0wFmr3DrOdNEpsooAoVZTdcMCWbHP-UFw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BHVOm_5OQ0wFmr3DrOdNEpsooAoVZTdcMCWbHP-UFw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "MASTER SHEET"
          ],
          "schema": [
            {
              "id": "MASTER SHEET",
              "displayName": "MASTER SHEET",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        -96
      ],
      "id": "a8b50022-babc-4d5f-87e0-61f6cb3c51da",
      "name": "Tulis ke Sheet Master",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ixr03omHR9EgEjzf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1728,
        192
      ],
      "id": "640e0cb9-87ba-40c4-91e0-7075cbcd53c3",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Ambil SEMUA input dari semua jalur\nconst allInputs = $input.all();\n\n// Gabungkan semua baris dari semua input\nconst allRows = allInputs.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Filter hanya bulan ini\nconst now = new Date();\nconst currentMonthName = now.toLocaleString('id-ID', { month: 'long' });\nconst currentYear = now.getFullYear();\n\nconst monthlyData = allRows.filter(row => \n  String(row.Bulan || '').toLowerCase() === currentMonthName.toLowerCase()\n);\n\n// Hitung metrik\nconst totalPenjualanUnit = monthlyData.reduce((sum, r) => sum + (r['Penjualan (Unit)'] || 0), 0);\nconst totalPendapatan = monthlyData.reduce((sum, r) => sum + (r['Pendapatan (IDR)'] || 0), 0);\nconst totalLaporan = monthlyData.length;\n\n// Buat ringkasan\nconst laporan = {\n  'Bulan': currentMonthName,\n  'Tahun': currentYear,\n  'Jumlah_Laporan': totalLaporan,\n  'Total_Penjualan_Unit': totalPenjualanUnit,\n  'Total_Pendapatan_IDR': totalPendapatan,\n  'Rata_Rata_Penjualan_Per_Laporan': totalLaporan ? (totalPenjualanUnit / totalLaporan).toFixed(2) : 0,\n  'Rata_Rata_Pendapatan_Per_Laporan': totalLaporan ? (totalPendapatan / totalLaporan).toFixed(2) : 0,\n  'Sumber_Data': 'Sheet 1, Sheet 2, Sheet 3',\n  'Terakhir_Diperbarui': new Date().toISOString()\n};\n\n// Kembalikan HANYA 1 item\nreturn [{ json: laporan }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        192
      ],
      "id": "c52f73ce-33f1-472c-9db0-4abca4af2859",
      "name": "Generate Laporan"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18BHVOm_5OQ0wFmr3DrOdNEpsooAoVZTdcMCWbHP-UFw",
          "mode": "list",
          "cachedResultName": "Dummy Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BHVOm_5OQ0wFmr3DrOdNEpsooAoVZTdcMCWbHP-UFw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1905273570,
          "mode": "list",
          "cachedResultName": "Laporan Bulanan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BHVOm_5OQ0wFmr3DrOdNEpsooAoVZTdcMCWbHP-UFw/edit#gid=1905273570"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "LAPORAN BULANAN"
          ],
          "schema": [
            {
              "id": "LAPORAN BULANAN",
              "displayName": "LAPORAN BULANAN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2096,
        16
      ],
      "id": "b70f9797-f57c-42a9-b465-e0a609f1bbd5",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ixr03omHR9EgEjzf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": " 1231278382",
        "text": "=📊 *Laporan Bulanan — {{$json.Bulan}} {{$json.Tahun}}*  ✅ *Jumlah Laporan*: {{$json.Jumlah_Laporan}} 📦 *Penjualan Total*: {{$json.Total_Penjualan_Unit}} unit 💰 *Pendapatan*: Rp{{ $json.Total_Pendapatan_IDR }}  📈 *Rata-rata Penjualan*: {{$json.Rata_Rata_Penjualan_Per_Laporan}} unit/laporan   📎 [Laporan Detail](https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2096,
        192
      ],
      "id": "044611ea-ec65-4548-a1bb-96e95d52baf6",
      "name": "Send a text message",
      "webhookId": "75e71671-228d-4576-90b0-625d9b115e06",
      "credentials": {
        "telegramApi": {
          "id": "zKIYflImtALgH2lC",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "egivrinaldi@gmail.com",
        "subject": "Laporan Keuangan Bulanan",
        "message": "=<!DOCTYPE html> <html> <head>   <style>     body { font-family: Arial, sans-serif; line-height: 1.6; }     .header { background: #0d47a1; color: white; padding: 15px; text-align: center; }     .content { padding: 20px; }     .metric { margin: 8px 0; font-weight: bold; }     .highlight { color: #1976d2; }   </style> </head> <body>   <div class=\"header\">     <h2>📊 Laporan Bulanan</h2>     <p>{{ $json.Bulan }} {{ $json.Tahun }}</p>   </div>   <div class=\"content\">     <p>Halo Tim,</p>     <p>Berikut ringkasan laporan bulanan dari data gabungan (Sheet 1, 2, dan 3):</p>          <div class=\"metric\">✅ Jumlah Laporan: <span class=\"highlight\">{{ $json.Jumlah_Laporan }}</span></div>     <div class=\"metric\">📦 Total Penjualan: <span class=\"highlight\">{{ $json.Total_Penjualan_Unit }} unit</span></div>     <div class=\"metric\">💰 Total Pendapatan: <span class=\"highlight\">Rp{{ $json.Total_Pendapatan_IDR }}</span></div>     <div class=\"metric\">📈 Rata-rata Penjualan/Laporan: <span class=\"highlight\">{{ $json.Rata_Rata_Penjualan_Per_Laporan }} unit</span></div>          <p>🔗 <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/d/...\">Lihat Master Sheet</a> \n <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/...\">Lihat Laporan Bulanan</a></p>            </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2096,
        384
      ],
      "id": "55eb2138-a6e2-4ec8-9397-2430d4709cb8",
      "name": "Send a message",
      "webhookId": "9f1075a5-da2b-4939-80a7-2a61a01ee642",
      "credentials": {
        "gmailOAuth2": {
          "id": "8yDlCIlKQW60UkGf",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Data Sheet 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Sheet 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Sheet 3 (Beda Fromat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheet 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheet 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Menambahkan Kolom Sumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menambahkan Kolom Sumber": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Tulis ke Sheet Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheet 3 (Beda Fromat)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Menghapus Duplikat Berdasarkan ID Laporann",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menghapus Duplikat Berdasarkan ID Laporann": {
      "main": [
        [
          {
            "node": "Menyesuaikan Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menyesuaikan Header": {
      "main": [
        [
          {
            "node": "Menambahkan Kolom Sumber 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menambahkan Kolom Sumber 1": {
      "main": [
        [
          {
            "node": "Tulis ke Sheet Master",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tulis ke Sheet Master": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Generate Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Laporan": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a5896404-0c5f-48db-a1f8-b4501396f7b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef4c1b6463e8579273ec8c5ddc711ec694a363f603e1c02f0d905d2705a13425"
  },
  "id": "gCpp7gPgcVvp0L2w",
  "tags": []
}